@use "../../../styles/colors";

.wrapper {
  height: 32px;
  * {
    line-height: 32px;
    font-weight: 600;
  }

  padding: 0 16px;
  margin: 0 16px;
  min-width: 120px;

  display: flex;
  justify-content: space-between;

  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  border-radius: 32px;

  span:first-of-type {
    font-size: 14px;
    color: colors.$gray;
  }

  span:last-of-type {
    font-size: 18px;
    color: colors.$blue-dark;
  }
}
