.btns {
  position: absolute;
  left: 16px;
  bottom: 12.15%;
  height: 57.69%;

  width: calc(100% - 32px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  > * {
    position: relative;
  }

  .btn-1 {
  }

  .btn-2 {
    left: 32.5%;
    top: 4%;
  }

  .btn-3 {
    right: 9.5%;
    top: 6%;
  }

  .btn-4 {
    right: 9.5%;
  }

  .btn-5 {
    left: 14%;
    bottom: 5.5%;
  }

  .btn-6 {
    right: 32.5%;
    bottom: 3%;
  }

  .btn-7 {
    bottom: 1%;
    left: 2%;
  }

  .btn-8 {
    left: 32.5%;
    top: 0.8%;
  }

  .btn-9 {
    right: 22%;
    top: 2%;
  }

  .btn-10 {
    right: 5%;
  }
}
