@use "./colors";

.intro {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 60px 0;
  //   justify-content: center;
  align-items: center;

  .visual {
    position: relative;
    margin-bottom: 100px;
  }

  .levelring {
    position: relative;
  }

  .bear {
    transform: scaleX(-1);
    width: 100px;
    position: absolute;
    left: -80px;
    bottom: -50px;
    z-index: -1;
  }

  .text {
    margin: 0 10%;
    border: solid 3px colors.$blue-dark;
    border-radius: 12px;
    padding: 24px;
    background: #fff;
    line-height: 1.4;
    font-size: 16px;
  }

  .disclaimer {
    font-size: 14px;
    color: colors.$gray-dark;
    padding-bottom: 64px;
  }
}
