@use "./colors";

.wrapper {
  width: 80%;
  margin: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: 24px;

  .instruction {
    margin-bottom: 24px;

    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: colors.$blue-dark;

    span {
      display: block;
      padding-bottom: 24px;
      padding-bottom: 1.5em;
    }
  }

  .qrcode {
    width: 80%;
    height: auto;
    white-space: pre-line;
    text-align: center;
    font-size: 14px;
    color: colors.$gray-dark;
  }
}
